* @FabricMC/developers

sidebar_translations.json @FabricMC/documentation
.vitepress/sidebars/*.ts @FabricMC/documentation
public/assets/ @FabricMC/documentation
reference/latest/ @FabricMC/documentation
**/*.md @FabricMC/documentation

versions/ @FabricMC/developers
