* @FabricMC/developers

*_translations.json @FabricMC/documentation
**/*.md @FabricMC/documentation
.vitepress/sidebars/ @FabricMC/documentation
public/assets/ @FabricMC/documentation
reference/latest/ @FabricMC/documentation
