# Folders
/node_modules
/.vitepress/cache
/.vitepress/dist

# Files
.DS_Store

# Alternative Package Locks
pnpm-lock.yaml
yarn.lock

# LanguageTool Dictionaries and Reports
/.vscode/ltex.dictionary.*.txt
/.vscode/ltex.report.*.txt
/.vscode/ltex.hiddenFalsePositives.*.txt