# Folders
/node_modules
/.vitepress/cache
/.vitepress/.temp
/.vitepress/dist
.idea/
.obsidian/

# Files
.DS_Store

# Alternative Package Locks
package-lock.json
yarn.lock

# LanguageTool Dictionaries and False Positives
.vscode/*.txt
