# Folders
/node_modules
/.vitepress/cache
/.vitepress/dist
.idea/

# Files
.DS_Store

# Alternative Package Locks
pnpm-lock.yaml
yarn.lock

# LanguageTool Dictionaries and False Positives
.vscode/*.txt
