/* 
  This file overrides and extends default VitePress theme CSS variables and styles:
  https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2)
    format("woff2-variations");
}

/* Define custom color variables, fabricmc.net brand colors, and other shared properties. */
:root {
  --vp-c-blue-1: #1662c5;
  --vp-c-blue-2: #2275da;
  --vp-c-blue-3: #5c9de4;
  --vp-c-blue-soft: rgba(52, 130, 219, 0.14);

  --vp-c-brand-1: var(--vp-c-blue-3);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-1);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3463fe 30%, #4787ff);

  --font-family-base:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --vp-font-family-base: var(--font-family-base);
  --vp-font-family-mono:
    "JetBrains Mono", ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
    monospace;
}

:root:where(:lang(zh)) {
  --vp-font-family-base: "Punctuation SC", var(--font-family-base);
}

/* Sidebar Scrollbar - Styles scrollbars within the side navigation pane for improved visibility. */
.VPSidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-gray-1) var(--vp-c-bg-alt);
}

/* Custom scrollbar visuals for WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--vp-c-bg-alt);
}

::-webkit-scrollbar-thumb {
  background: var(--vp-c-gray-1);
}

/* Homepage Container - Center content and limit maximum width. */
.homepage-container {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
}

/* Override default margin on the VitePress Home component */
.VPHome {
  margin-bottom: 0px !important;
}

/* Responsive Adjustments - Increase padding for wider screens. */
@media (min-width: 640px) {
  .homepage-container {
    padding: 0 48px;
  }
}

@media (min-width: 960px) {
  .homepage-container {
    width: 100%;
    padding: 0 64px;
  }
}

/* Local Search Box Animations - Fade in backdrop and animate search box on appearance. */
.VPLocalSearchBox > .backdrop {
  opacity: 0;
  animation: show 200ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

.VPLocalSearchBox > .shell {
  animation: show 400ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;
}

/* Medium Zoom Overlays - Increase stacking order for zoomed images and their overlay. */
.medium-zoom-overlay {
  z-index: 10000;
}

.medium-zoom-image--opened {
  z-index: 10001;
}

/* Simple keyframe animation for fading/showing elements */
@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Style <kbd> elements except the search popup */
kbd:not(.DocSearch-Button-Key) {
  background-color: #eee !important;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 5px;
  white-space: nowrap;
}

/* Center images within paragraphs. */
.vp-doc > p > img,
.vp-doc > div > p > img {
  margin-left: auto;
  margin-right: auto;
}

/* Style the <h1> heading generated from the frontmatter */
h1.vp-doc {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 40px;
}

/* Custom Icons */
.vpi-versioning {
  --icon: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMi4yIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNvbG9yPSIjMDAwMDAwIj48cGF0aCBkPSJNMTcgN0MxOC4xMDQ2IDcgMTkgNi4xMDQ1NyAxOSA1QzE5IDMuODk1NDMgMTguMTA0NiAzIDE3IDNDMTUuODk1NCAzIDE1IDMuODk1NDMgMTUgNUMxNSA2LjEwNDU3IDE1Ljg5NTQgNyAxNyA3WiIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PHBhdGggZD0iTTcgN0M4LjEwNDU3IDcgOSA2LjEwNDU3IDkgNUM5IDMuODk1NDMgOC4xMDQ1NyAzIDcgM0M1Ljg5NTQzIDMgNSAzLjg5NTQzIDUgNUM1IDYuMTA0NTcgNS44OTU0MyA3IDcgN1oiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIyLjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjxwYXRoIGQ9Ik07IDIxQzguMTA0NTcgMjEgOSAyMC4xMDQ2IDkgMTlDOSAxNy44OTU0IDguMTA0NTcgMTcgNyAxN0M1Ljg5NTQzIDE3IDUgMTcuODk1NCA1IDE5QzUgMjAuMTA0NiA1Ljg5NTQzIDIxIDcgMjFaIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMi4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNNyA3VjE3IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMi4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48cGF0aCBkPSJNMTcgN1Y4QzE3IDEwLjUgMTUgMTEgMTUgMTFMOSAxM0M5IDEzIDcgMTMuNSA3IDE2VjE3IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMi4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9yZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48L3N2Zz4=");
}
