/*
  This file overrides and extends default VitePress theme CSS variables and styles:
  https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2)
    format("woff2-variations");
}

/* Define custom color variables, fabricmc.net brand colors, and other shared properties. */
:root {
  --vp-c-blue-1: #1662c5;
  --vp-c-blue-2: #2275da;
  --vp-c-blue-3: #5c9de4;
  --vp-c-blue-soft: rgba(52, 130, 219, 0.14);

  --vp-c-brand-1: var(--vp-c-blue-3);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-1);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3463fe 30%, #4787ff);

  --font-family-base:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --vp-font-family-base: var(--font-family-base);
  --vp-font-family-mono:
    "JetBrains Mono", ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
    monospace;

  --vp-icon-fullscreen: url("data:image/svg+xml,%3Csvg%20viewBox%3D%222%202%2020%2020%22%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke%3D%22%23000%22%20stroke-width%3D%220%22%3E%3Cg%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23ccc%22%20stroke-width%3D%22.048%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%204a1%201%200%200%201%201-1h4a1%201%200%200%201%200%202H6.414l3.293%203.293a1%201%200%200%201-1.414%201.414L5%206.414V8a1%201%200%200%201-2%200zm13-1h4a1%201%200%200%201%201%201v4a1%201%200%201%201-2%200V6.414l-3.293%203.293a1%201%200%200%201-1.414-1.414L17.586%205H16a1%201%200%201%201%200-2M9.707%2014.293a1%201%200%200%201%200%201.414L6.414%2019H8a1%201%200%201%201%200%202H4a1%201%200%200%201-1-1v-4a1%201%200%201%201%202%200v1.586l3.293-3.293a1%201%200%200%201%201.414%200m4.586%200a1%201%200%200%201%201.414%200L19%2017.586V16a1%201%200%201%201%202%200v4a1%201%200%200%201-1%201h-4a1%201%200%201%201%200-2h1.586l-3.293-3.293a1%201%200%200%201%200-1.414%22%20fill%3D%22gray%22%20stroke%3D%22none%22%2F%3E%3C%2Fsvg%3E");
  --vp-icon-fullscreen-exit: url("data:image/svg+xml,%3Csvg%20viewBox%3D%223%203%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke%3D%22%23000%22%20stroke-width%3D%220%22%3E%3Cg%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23ccc%22%20stroke-width%3D%22.048%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.293%205.293a1%201%200%200%201%201.414%200L12%2010.586l5.293-5.293a1%201%200%201%201%201.414%201.414L13.414%2012l5.293%205.293a1%201%200%200%201-1.414%201.414L12%2013.414l-5.293%205.293a1%201%200%200%201-1.414-1.414L10.586%2012%205.293%206.707a1%201%200%200%201%200-1.414%22%20fill%3D%22gray%22%20stroke%3D%22none%22%2F%3E%3C%2Fsvg%3E");
  --vp-icon-download: url("data:image/svg+xml,%3Csvg%20viewBox%3D%222.7%203%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke%3D%22gray%22%20stroke-width%3D%220%22%3E%3Cg%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.625%2015a.75.75%200%200%200-1.5%200zm-.75%201h-.75zm14.4-1a.75.75%200%200%200-1.5%200zm-8.166.539a.75.75%200%200%200%201.182.922zm5.082-4.078a.75.75%200%200%200-1.182-.922zm-5.082%205a.75.75%200%200%200%201.182-.922zM8.39%2010.54a.75.75%200%200%200-1.182.922zM10.95%2016a.75.75%200%200%200%201.5%200zm1.5-11a.75.75%200%200%200-1.5%200zM4.125%2015v1h1.5v-1zm0%201c0%202.053%201.628%203.75%203.675%203.75v-1.5c-1.183%200-2.175-.99-2.175-2.25zM7.8%2019.75h7.8v-1.5H7.8zm7.8%200c2.047%200%203.675-1.697%203.675-3.75h-1.5c0%201.26-.992%202.25-2.175%202.25zM19.275%2016v-1h-1.5v1zm-6.984.461%203.9-5-1.182-.922-3.9%205zm0-.922-3.9-5-1.182.922%203.9%205zm.159.461V5h-1.5v11z%22%20fill%3D%22gray%22%20stroke%3D%22none%22%2F%3E%3C%2Fsvg%3E");
}

:root:where(:lang(zh)) {
  --vp-font-family-base: "Punctuation SC", var(--font-family-base);
}

code,
pre {
  tab-size: 2 !important;
  font-variant-ligatures: none;
}

/* Dark Mode Support - Show or hide elements based on the presence of the 'dark' class on the root element. */
:root:not(.dark) .dark-only {
  display: none;
}

:root:is(.dark) .light-only {
  display: none;
}

/* Description at the top of pages */
p[role="doc-subtitle"] {
  margin-block: 1rem;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
  text-wrap: balance;
  color: var(--vp-c-text-3);
}

/* Sidebar Scrollbar - Styles scrollbars within the side navigation pane for improved visibility. */
.VPSidebar,
.aside-container {
  scrollbar-width: thin !important;
  scrollbar-color: var(--vp-c-gray-1) var(--vp-c-bg-alt);
}

body:has(.VPFooter:not(.has-sidebar)) .aside-container {
  padding-bottom: 64px;
}

@media (min-width: 1525px) {
  .aside-container,
  .aside-curtain {
    width: 300px !important;
  }
}

.aside-container::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--vp-c-bg-alt);
}

::-webkit-scrollbar-thumb {
  background: var(--vp-c-gray-1);
}

/* Style the home page */
.VPHome {
  margin-bottom: 0 !important;

  p.tagline {
    text-wrap: balance;
  }
}

/* Local Search Box Animations - Fade in backdrop and animate search box on appearance. */
.VPLocalSearchBox > .backdrop {
  opacity: 0;
  animation: show 200ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

.VPLocalSearchBox > .shell {
  animation: show 400ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Medium Zoom Overlays - Increase stacking order for zoomed images and their overlay. */
.medium-zoom-overlay {
  z-index: 10000;
}

.medium-zoom-image--opened {
  z-index: 10001;
}

/* Style <kbd> elements except the search popup */
kbd:not(.DocSearch-Button-Key) {
  background-color: #eee !important;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 5px;
  white-space: nowrap;
}

/* Center and style images within paragraphs. */
.vp-doc > p > img,
.vp-doc > div > p > img,
.medium-zoom-image--opened {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px #8883;
  border-radius: 8px;
}

h1 > .VPBadge {
  font-family: var(--vp-font-family-mono);
  padding: 5px 12px;
  border-radius: 8px;
}

/* Remove border from headings if that's the first thing in the page */
:is(hgroup) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
  border-top: none;
}

#code-preview-dialog {
  background-color: transparent;
  padding: 0;
  border: none;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 8px;
  overflow: hidden;
}

#code-preview-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.dialog-content {
  overflow-y: auto;
  max-height: 90vh;
}

.vp-doc .dialog-content div[class*='language-']{
  margin: 0;
}

@media(min-width: 960px){
  .vp-doc [class*='language-'] > button.full-screen-button{
    display: block !important;
  }

  .vp-doc [class*='language-'] > button.copy{
    right: 64px;
  }

  .vp-doc [class*='language-'] > button.copy.copied::before, .vp-doc [class*='language-'] > button.copy:hover.copied::before{
    transform: translateX(calc(-100%));
  }
}

.vp-doc [class*='language-'] > button.full-screen-button{
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0;
  background-image: var(--vp-icon-fullscreen);
  display: none;
}

.vp-doc [class*='language-']:hover > button.full-screen-button,
.vp-doc [class*='language-'] > button.full-screen-button:focus{
  opacity: 1;
}

.vp-doc [class*='language-'] > button.full-screen-button:hover,
.vp-doc [class*='language-'] > button.full-screen-button:focus,
.dialog-header > button:hover, .dialog-header > button:focus {
  border-color: var(--vp-code-copy-code-hover-border-color);
  background-color: var(--vp-code-copy-code-hover-bg);
}

.dialog-header{
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.vp-doc [class*='language-'] > button.full-screen-button,
.dialog-header > button {
  direction: ltr;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-copy-code-bg);
  cursor: pointer;
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.dialog-header > button.full-screen-button{
  background-image: var(--vp-icon-fullscreen);
}

.dialog-header > button.full-screen-button-exit{
  background-image: var(--vp-icon-fullscreen-exit);
}

.dialog-header > button.copy{
  background-image: var(--vp-icon-copy);
}

.dialog-header > button.download-button{
  background-image: var(--vp-icon-download);
}

.dialog-header > button.copy.copied{
  background-image: var(--vp-icon-copied);
  background-color: var(--vp-c-brand-2);
  background-blend-mode: color-dodge;
}

.dialog-title{
  font-size: 16px;
  font-weight: 500;
  color: var(--vp-c-text-1);
  flex: 1;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-title-bg{
  background-color: var(--vp-code-copy-code-bg);
  border: 1px solid var(--vp-code-copy-code-border-color);
}
